{
  "extends": "stylelint-config-sass-guidelines",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-max-id": null,
    "max-nesting-depth": null,
    "selector-no-qualifying-type": null,
    "selector-max-compound-selectors": null,
    "block-opening-brace-space-before": null,
    "order/properties-alphabetical-order": null,
    "scss/selector-no-redundant-nesting-selector": null
  }
}