#bonus {
  min-height: 100px;
  background-color: $lightgreen;

  .messages {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;

    &::after {
      position: absolute;
      content: '';
      height: 115%;
      width: 40%;
      opacity: 0.5;
      top: 124px;
      left: 0;
      z-index: -1;
      background: url('../img/chef_icon.png') no-repeat;
      background-size: contain;
    }

    .section-title,
    .message {
      width: 75%;
      margin-left: auto;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      align-items: center;
    }

    .section-title {
      padding: 30px 0 20px; // Bottom is padding minus gap (30px - 10px)
    }

    .message {
      padding: 20px;
      grid-gap: 10px;

      .bonus-text {
        width: 65%;
        color: $darkblue;
        font-family: $sub-font;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .message:last-child {
      margin-bottom: 30px;
    }
  }
}
