#features {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;

  .center-images {
    position: absolute;
    margin: 0 40%;
    width: 20%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 20px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0;
    padding-top: calc(30px + 65px + 58px + 20px); // top + title height + subsection-tile+ bottom
    padding-bottom: 40px;

    img {
      height: 100%; // feature total height
    }

    .bartender {
      margin-left: 60px;
    }

    .waitress {
      margin-left: 75px;
    }

    .clean {
      margin-right: 23px;
    }

    .chef {
      margin-top: 20px;
      height: 100%;
    }

  }

  .section-title {
    left: 0;
    position: absolute;
    text-align: center;
    top: 30px;
    width: 100%;
  }

  #company,
  #talent {
    align-items: center;
    display: grid;
    grid-gap: 10px;
    justify-items: center;
    padding: 0 89px;
    padding-top: calc(30px + 42px + 20px); // top + title height + bottom
    padding-bottom: 40px;

    .subsection-title {
      padding: 0 0 40px;
    }

    .feature {
      width: 70%;
      padding-bottom: 80px;

      .message {
        font-size: 20px;
        margin: 20px 0 10px;
        font-family: $sub-font;
      }

      a:link,
      a:visited {
        font-size: 18px;
        color: $purple;
        font-weight: bold;
      }

      a:hover {
        cursor: pointer;
      }
    }
  }

  #company {
    background-color: $lightpink;

    .feature {
      text-align: right;
    }
  }

  #talent {
    background-color: $lightyellow;

    .feature {
      text-align: left;
    }
  }
}
