// COLORS
$lightyellow: #fffcd8;
$lightblue: #75c5d0;
$darkgreen: #4b521c;
$lightgreen: #d6ecc8;
$lightergreen: #e7f4ef;
$pink: #e9bee4;
$darkblue: #26666f;
$purple: #c149b3;

// FONTS
$main-fonts: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
