// MAIN COLORS
$black: #383838;
$lightyellow: rgba(255, 242, 0, 0.2);
$darkblue: #24666f;
$lightblue: #75c5d0;
// $lighterblue: #76c5d0; // ORIGINAL
// $darkgreen: #070705; // ORIGINAL
// $green: #d6ecc8; // ORIGINAL
// $lightgreen: rgba(218, 236, 205, 0.8); // ORIGINAL
$lighterblue: #a1d8df; // GIMP
$darkgreen: #4c5223; // GIMP
$green: #e2f0d7; // GIMP
$lightgreen: #e7f4ef; // GIMP
$greenishblue: #ceeae0;
$pink: #e9bee4;
$lightpink: rgba(183, 91, 163, 0.1);
$purple: #c149b3;

// FONTS
$main-font: 'Roboto', sans-serif;
$sub-font: 'Noto Serif', serif;

.main-parragraphs {
  font-family: $main-font;
}

.small-parragaphs {
  font-family: $main-font;
}

.italized {
  font-family: $sub-font;
  font-style: italic;
}

