@import '../../node_modules/video-react/styles/scss/video-react';
@import './fontAwesome';
@import './globals';
@import './navigation';
@import './hero';
@import './features';
@import './bonus-features';
@import './prices';
@import './partners';
@import './roadmap';
@import './team';
@import './contact';
@import './footer';

* {
  box-sizing: border-box;
  font-family: $main-fonts;
  margin: 0;
  padding: 0;
}

html,
body,
#layout {
  box-sizing: border-box;
  font-size: 16px;
  min-width: 680px;
  min-height: 100vh;
}

#layout {
  display: grid;
  grid-template-rows: 1fr 300px;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;

  main {
    display: grid;
    height: 100%;
    margin-top: 220px;

    h2 {
      font-size: 3rem;
      font-weight: normal;
    }
  }
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  padding: 0;
}

section {
  min-height: 300px;
}
