#prices {
  background-color: $green;

  .section-title,
  .message,
  .cta {
    width: 60%;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .cta,
  .message {
    p {
      font-size: 14px;
      color: $darkgreen;
      width: 78%;
      font-weight: bold;
    }
  }

  .messages {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    height: 100%;

    &::after {
      position: absolute;
      content: '';
      height: 128%;
      width: 40%;
      opacity: 0.5;
      top: 80px;
      right: 0;
      z-index: -1;
      background: url('../img/bartender_icon.png') no-repeat;
      background-size: contain;
    }
  }

  .section-title {
    padding: 30px 0 20px; // Bottom is padding minus gap (30px - 10px)
  }

  .message {
    margin-top: 30px;
  }

  .cta {
    padding-bottom: 50px;

    .btn {
      display: block;
      font-family: $sub-font;
      font-size: 21px;
      width: 70%;
      margin: 30px auto 20px;
      background-color: $purple;
      border: 0;
      border-radius: 30px;
      color: #fff;
      padding: 15px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
