@import './globals';

#prices {
  background-color: $olive;
  padding-bottom: 50px;

  .section-title,
  .message,
  .cta {
    width: 60%;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
  }

  .cta,
  .message {
    p {
      color: $darkgreen;
      width: 75%;
      font-size: 0.8rem;
      font-style: italic;
      font-weight: bold;
    }
  }

  .messages {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    text-align: center;
    justify-items: center;
    align-items: center;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      height: 80%;
      width: 40%;
      opacity: 0.5;
      top: 60px;
      right: -80px;
      z-index: -1;
      background: url('http://cdn.onlinewebfonts.com/svg/img_431572.png') no-repeat;
      background-size: contain;
    }
  }

  .section-title {
    padding: 30px 0 20px; // Bottom is padding minus gap (30px - 10px)
  }

  .message {
    margin-top: 30px;

    h3 {
      font-size: 2.5rem;
    }
  }

  .cta {
    .btn {
      display: block;
      font-size: 1.35rem;
      width: max-content;
      margin: 30px auto 20px;
      background-color: $purple;
      border: 0;
      border-radius: 30px;
      color: #fff;
      padding: 15px;

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
