@import './globals';

#team {
  background-color: $lighterblue;
  position: relative;
  overflow: hidden;

  &::after {
    content: '';
    background: url('../img/clean_icon.png') no-repeat;
    background-size: contain;
    opacity: 0.5;
    top: 10px;
    right: -350px;
    width: 60%;
    height: 155%;
    position: absolute;
  }

  .inner-wrapper {
    padding-bottom: 40px;
  }

  .section-title {
    width: 76%;
    text-align: center;
    padding: 30px 0 20px;
    z-index: 1;
  }

  .members {
    width: 76%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 1;
  }

  .member {
    width: 23%;
    margin: 16px 5px;
    z-index: 1;

    &__img {
      width: 50%;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
    }

    &__caption {
      margin-top: 10px;
      text-align: center;

      .name {
        font-style: italic;
        width: 100%;
        font-size: 20px;
        font-family: $sub-font;
      }

      .subtitle {
        font-size: 1rem;
        font-weight: 400;
        font-family: $main-font;
      }
    }
  }
}
