@import './globals';

#team {
  background-color: $celeste;
  padding-bottom: 40px;

  .inner-wrapper {
    position: relative;

    &::after {
      content: '';
      background: url('http://cdn.onlinewebfonts.com/svg/img_431572.png') no-repeat;
      background-size: contain;
      opacity: 0.5;
      top: 20%;
      right: -80px;
      width: 30%;
      height: 100%;;
      position: absolute;
    }
  }

  .section-title {
    text-align: center;
    padding: 30px 0 20px;
    z-index: 1;
  }

  .members {
    width: 70%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    z-index: 1;
  }

  .member {
    width: 25%;
    margin: 16px 0;
    z-index: 1;

    &__img {
      width: 50%;
      margin: 0 auto;
      display: block;
      border-radius: 50%;
    }

    &__caption {
      font-style: italic;
      margin-top: 10px;
      text-align: center;

      .name {
        width: 100%;
        font-size: 1.4rem;
      }

      .subtitle {
        font-size: 0.9rem;
      }
    }
  }
}
